<!DOCTYPE html>
<html>
<head>
    <title>Account - Add</title>
</head>
<body>
<h1>Add New account </h1>
<form action="/account/insert" method="'get">
    email: <input name="email" type="text" />
    first_name: <input name="first_name" type="text" />
    last_name: <input name="last_name" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>