<!DOCTYPE html>
<html>
<head>
    <title>Skill - Add</title>
</head>
<body>
<h1>Add New skill </h1>
<form action="/skill/insert" method="'get">
    Skill Name: <input name="skill" type="text" />
    description: <input name="description" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>