<!DOCTYPE html>
<html>
<head>
    <title>Buy - Add</title>
</head>
<body>
<h1>Add New Buy </h1>
<form action="/buy/insert" method="'get">
    ticker: <input name="ticker" type="text" />
    price: <input name="price" type="text" />
    date: <input name="date" type="text" />
    amount: <input name="amount" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>