<!DOCTYPE html>
<html>
    <head>
        <title>Company - Add</title>
    </head>
    <body>
        <h1>Add New Company </h1>
        <form action="/company/insert" method="'get">
            Company Name: <input name="company_name" type="text" />
            <br />
            Address
            <br />
            <% for(var i=0; address_result.length > i; i++ ) { %>
                <input type="checkbox" name="address_id" value="<%=
                    address_result[i].address_id %>"> <%= address_result[i].street + ', '
            + address_result[i].zip_code %>
                <br />
            <% } %>

            <br />


            <input type="submit" />

        </form>
    </body>
</html>