<!DOCTYPE html>
<html>
<head>
    <title>Company - View All</title>
</head>
    <body>
        <h1>Companies</h1>

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) {%>
            <tr>
                <td>
                    <a href="/company/?company_id=<%= result[i].company_id %>">
                        <%= result[i].compamy_name %>
                    </a>
                </td>
                <td>
                    <a href='/company/edit/?company_id=<%= result[i].company_id %>'>
                        edit
                    </a>
                </td>
            </tr>
            <% } %>
        </table>

    </body>
</html>
