<!DOCTYPE html>
<html>
<head>
    <title>Customer - Add</title>
</head>
<body>
<h1>Add New Customer </h1>
<form action="/Customer/insert" method="get">
    social: <input name="social" type="text" />
    email: <input name="email" type="text" />
    first name: <input name="first_name" type="text" />
    last name: <input name="last_name" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>