<!DOCTYPE html>
<html>
<head>
    <title>Address - Add</title>
</head>
<body>
<h1>Add New Address </h1>
<form action="/address/insert" method="'get">
    street: <input name="street" type="text" />
    zip_code: <input name="zip_code" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>