<!DOCTYPE html>
<html>
<head>
    <title> Stock Account - Add</title>
</head>
<body>
<h1>Add New Stock Account </h1>
<form action="/stock_account/insert" method="'get">
    password: <input name="password" type="text" />
    username: <input name="username" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>