<!DOCTYPE html>
<html>
<head>
    <title>Stock Account - Add</title>
</head>
<body>
<h1>Edit Stock Account </h1>
<form action="/stock_account/update" method="get">
    password: <input
            id = "password"
            name="password"
            type="text"
            value="<%= stock_account.password%>"
    />


    username: <input
            id = "username"
            name="username"
            type="text"
            value="<%= stock_account.username%>"

    />


    <input type="hidden"
           id="stock_account_id"
           name="stock_account_id"
           value="<%= stock_account.stock_account_id%>"
    />

    <br />
    <input type="submit" />

</form>
</body>
</html>